@charset "UTF-8";
/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
* 
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/

.jPanelMenu-panel {
  -moz-box-shadow: 0 0 25px #222222;
  -webkit-box-shadow: 0 0 25px #222222;
  box-shadow: 0 0 25px #222222; }
